<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs') -%>

  <body>
    <a href="index.html" class="my-btn">Back</a>
    <div class="container mx-auto px-5">
      <section data-name="font-family" class="space-y-5 text-5xl">
        <my-code>
          <h1 class="pg-font-proxima-nova">Proxima Nova</h1>
        </my-code>
        <my-code>
          <h1 class="pg-font-raleway">Proxima Nova</h1>
        </my-code>
      </section>

      <section data-name="font-weight">
        <a class="my-btn" href="https://tailwindcss.com/docs/font-weight">
          tailwind font-weight
        </a>
      </section>

      <section data-name="font-size" class="space-y-5 text-5xl">
        <%
        <!-- prettier-ignore -->
        const fontSize = [
          [48,72,96,120],
          [36,56,72,80],
          [28,48,56,64],
          [22,28,36,40],
          [20,24,24,24],
          [18,20,20,20],
        ];
        for( var i= 0; i < fontSize.length;i++ ) {
          const d = fontSize[i];
          const idx = i + 1;
        %>
        <my-code>
          <div class="pg-h<%=idx%>">
            <span class="text-pg-red sm:hidden"><%=d[0]%>px</span>
            <span class="hidden text-pg-red sm:inline-block lg:hidden"><%=d[1]%>px</span>
            <span class="hidden text-pg-red lg:inline-block xl:hidden"><%=d[2]%>px</span>
            <span class="hidden text-pg-red xl:inline-block"><%=d[3]%>px</span>
            Heading<%=idx%>
          </div>
        </my-code>
        <% } %>
      </section>
    </div>
  </body>
</html>
